<body>

  <header>
    <h1 class="header-title">Minhas consultas cadastradas</h1>
  </header>
  <main>
    <button type="button" class="button blue mobile" id="cadastrarCliente">Cadastrar Cliente</button>
    <table class="records">
      <thead>
        <tr>
          <th>Especialidade</th>
          <th>Data</th>
          <th>Hora</th>
          <th>Autorização?</th>
          <th>Local</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Select com especialidades</td>
          <!-- <td>maria&#64;gmail.com</td> -->
          <td>Calendario com datas</td>
          <td>08:30</td>
          <td>Select com Sim, Não precisa</td>
          <td>Select com locais de clinicas</td>
          <td>
              <button type="button" class="button green">editar</button>
              <button type="button" class="button red">excluir</button>
          </td>
      </tr>
      </tbody>
    </table>
  </main>
  <footer>
    footer
  </footer>

</body>


<!-- <body>
  <div class="inicial">
    <h1>Minhas consultas cadastradas</h1>
    <button type="button">Cadastrar consulta</button> 
  </div>

  <table style="width:100%">
    <tr>
      <th>
        <form action="/action_page.php">
          <label for="especialidade">Especialidade:</label>
          <select name="especialidade" id="especialidade">
            <option value="clinica-geral">Clínica geral</option>
            <option value="cardiologista">Cardiologista</option>
            <option value="neurologista">Neurologista</option>
            <option value="psiquiatra">Psiquiatra</option>
            <option value="otorrino">Otorrino</option>
            <option value="outro">Outro</option>
          </select>
          <br><br>
        </form>
      </th>
      <th>Data</th>
      <th>Hora</th>
      <th>Autorização?</th>
      <th>Local</th>
    </tr>
    <tr>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
    </tr>
    <tr>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Confirmar agendamento">

  <p>Selecione as opções e confirme o agendamento.</p>

</body> -->