<body>

  <div class="inicial">
    <h1>Minhas consultas agendadas</h1>
    <button type="button">+</button> 
  </div>

  <table style="width:100%">
    <tr>
      <th>
        <form action="/action_page.php">
          <label for="especialistas">Especialista:</label>
          <select name="especialistas" id="especialistas">
            <option value="clinica-geral">Clínica geral</option>
            <option value="cardiologista">Cardiologista</option>
            <option value="neurologista">Neurologista</option>
            <option value="psiquiatra">Psiquiatra</option>
          </select>
          <br><br>
        </form>
      </th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  <input type="submit" value="Submit">

  <p>To understand the example better, we have added borders to the table.</p>

</body>