<body>

  <div class="inicial">
    <h1>Minhas consultas agendadas</h1>
    <button type="button">+</button> 
  </div>

  <table style="width:100%">
    <tr>
      <th>
        <form action="/action_page.php">
          <label for="especialidade">Especialidade:</label>
          <select name="especialidade" id="especialidade">
            <option value="clinica-geral">Clínica geral</option>
            <option value="cardiologista">Cardiologista</option>
            <option value="neurologista">Neurologista</option>
            <option value="psiquiatra">Psiquiatra</option>
            <option value="otorrino">Otorrino</option>
            <option value="outro">Outro</option>
          </select>
          <br><br>
        </form>
      </th>
      <th>Data</th>
      <th>Hora</th>
      <th>Autorização?</th>
      <th>Local</th>
    </tr>
    <tr>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
      <td>Lorem Ipsum</td>
    </tr>
    <tr>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
      <td>Dolor sit amet</td>
    </tr>
  </table>
  <br>
  <input type="submit" value="Confirmar agendamento">

  <p>Selecione as opções e confirme o agendamento.</p>

</body>